@{
    ViewData["Title"] = "Caracteristicas";
}

<div class="text-dark">
    <h1 class="display-4">Informacion sobre .Net Core</h1>

    <ul>
        <li>
            Es multiplataforma y viene con soporte para su uso con contenedores Docker.
        </li>
        <li>
            Alto rendimiento. Se ha desarrollado desde cero y se le ha dado una alta importancia a esta característica.
        </li>
        <li>Asincronía con el uso de async/await. Se ha implementado este patrón en todas las librerías comunes para mejorar el rendimiento en las llamadas I/O.</li>
        <li>Es Open Source.</li>

        </ul>
</div>


